artifacts/dump/schema-reference/PlayerService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.mgmresorts.com/commonservices/playerservice"
	 targetNamespace="http://www.mgmresorts.com/commonservices/playerservice"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">

	<!-- COMMON SIMPLE ELEMENTS -->
	<xs:element name="playerId" type="xs:int"/>
	<xs:element name="siteId" type="xs:string"/>
	<xs:element name="totalTheoWin" type="xs:double"/>
	<xs:element name="id" type="xs:int"/>
	<xs:element name="roomNights" type="xs:int"/>
	<xs:element name="lastStayDate" type="xs:dateTime"/>
	<xs:element name="sitemasterId" type="xs:int"/>
	<xs:element name="siteName" type="xs:string"/>
	<xs:element name="siteIdPm" type="xs:int"/>
	<xs:element name="configHotelSystemId" type="xs:int"/>
	<xs:element name="corpSortOrder" type="xs:int"/>
	<xs:element name="cardId" type="xs:string"/>
	<xs:element name="status" type="xs:string"/>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="firstName" type="xs:string"/>
	<xs:element name="preferredName" type="xs:string"/>
	<xs:element name="middleName" type="xs:string"/>
	<xs:element name="lastName" type="xs:string"/>
	<xs:element name="suffix" type="xs:string"/>
	<xs:element name="generation" type="xs:string"/>
	<xs:element name="statusNumber" type="xs:int"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="type" type="xs:string"/>
	<xs:element name="send" type="xs:string"/>
	<xs:element name="action" type="xs:string"/>
	<xs:element name="confirmation" type="xs:string"/>
	<xs:element name="arrive" type="xs:date"/>
	<xs:element name="depart" type="xs:date"/>
	<xs:element name="eta" type="xs:time"/>
	<xs:element name="etd" type="xs:time"/>
	<xs:element name="roomTypeId" type="xs:int"/>
	<xs:element name="people" type="xs:int"/>
	<xs:element name="rooms" type="xs:int"/>
	<xs:element name="roomStatus" type="xs:string"/>
	<xs:element name="roomNumber" type="xs:string"/>
	<xs:element name="user" type="userInfo"/>
	<xs:element name="night" type="xs:date"/>
	<xs:element name="rateTypeId" type="xs:int"/>
	<xs:element name="rate" type="xs:decimal"/>
	<xs:element name="userId" type="xs:int"/>
	<xs:element name="loginName" type="xs:string"/>
	<xs:element name="license" type="xs:string"/>
	<xs:element name="crmGuid" type="xs:string"/>
	<xs:element name="siteDescription" type="xs:string"/>
	<xs:element name="templateId" type="xs:string"/>

	<!-- SIMPLE ELEMENTS FOR ADD/GET/UPDATE PLAYER PROFILE REQUEST/RESPONSE-->
	<xs:element name="tier" type="xs:string"/>
	<xs:element name="dateOfBirth" type="xs:date"/>
	<xs:element name="anniversary" type="xs:date"/>
	<xs:element name="creditAccount" type="xs:boolean"/>
	<xs:element name="gender" type="xs:string"/>
	<xs:element name="webEnabled" type="xs:string"/>
	<xs:element name="exempt" type="xs:string"/>
	<xs:element name="attraction" type="xs:string"/>
	<xs:element name="affiliation" type="xs:string"/>
	<xs:element name="crossReference" type="xs:string"/>
	<xs:element name="enrollmentLocation" type="xs:string"/>
	<xs:element name="dateEnrolled" type="xs:date"/>
	<xs:element name="name" type="name"/>
	<xs:element name="address1" type="xs:string"/>
	<xs:element name="address2" type="xs:string"/>
	<xs:element name="city" type="xs:string"/>
	<xs:element name="postalCode" type="xs:string"/>
	<xs:element name="deliverable" type="xs:boolean"/>
	<xs:element name="suburb" type="xs:string"/>
	<xs:element name="number" type="xs:string"/>
	<xs:element name="extension" type="xs:string"/>
	<xs:element name="stateProvince" type="xs:string"/>
	<xs:element name="country" type="xs:string"/>
	<xs:element name="location" type="xs:string"/>
	<xs:element name="preferred" type="xs:boolean"/>
	<xs:element name="creditAddress" type="xs:string"/>
	<xs:element name="idNumber" type="xs:string"/>
	<xs:element name="expirationDate" type="xs:date"/>
	<xs:element name="verificationDate" type="xs:date"/>
	<xs:element name="primary" type="xs:string"/>
	<xs:element name="address" type="xs:string"/>
	<xs:element name="addDate" type="xs:date"/>
	<xs:element name="language" type="xs:string"/>
	<xs:element name="cardNumbers" type="cardNumbers"/>
	<xs:element name="expiration" type="xs:dateTime"/>
	<xs:element name="code" type="xs:string"/>
	<xs:element name="modifyInterest" type="xs:string"/>
	<xs:element name="company" type="xs:string"/>
	<xs:element name="position" type="xs:string"/>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="modifyFrequentFlyer" type="xs:string"/>
	<xs:element name="pointBalance" type="xs:long"/>
	<xs:element name="rankingExpireDate" type="xs:string"/>
	<xs:element name="interestNumber" type="xs:int"/>
	<xs:element name="interestDescription" type="xs:string"/>
	<xs:element name="playerProfile" type="playerProfile"/>
	<xs:element name="hgpNumber" type="xs:string"/>

	<!--   SIMPLE ELEMENTS FOR SEARCH PLAYER REQUEST/RESPONSE -->
	<xs:element name="ssn" type="xs:string"/>
	<xs:element name="phoneNumber" type="xs:string"/>
	<xs:element name="state" type="xs:string"/>
	<xs:element name="ranking" type="xs:string"/>
	<xs:element name="creditAcct" type="xs:string"/>

	<!-- SIMPLE ELEMENTS FOR GET CUSTOMER PREFERENCE RESPONSE-->
	<xs:element name="chnName" type="xs:string"/>
	<xs:element name="selected" type="xs:boolean"/>
	<xs:element name="allowEdit" type="xs:boolean"/>
	<xs:element name="isExplicit" type="xs:boolean"/>
	<xs:element name="isAdmin" type="xs:boolean"/>

	<!--SIMPLE ELEMENTS FOR UPDATE CUSTOMER PREFERENCE REQUEST/RESPONSE-->
	<xs:element name="privacyFlag" type="xs:boolean"/>
	<xs:element name="existsInMPE" type="xs:boolean"/>
	<xs:element name="mpeCustomerId" type="xs:int"/>
	<xs:element name="playersClubId" type="xs:int"/>
	<xs:element name="sitesGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="site"/>
				<xs:element ref="mpeSiteGroupId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--<xs:element name="custStatus" type="mpeCustomerStatus"/> -->
	<xs:element name="globalOptOut" type="xs:boolean"/>
	<xs:element name="corporateOptOut" type="xs:boolean"/>
	<xs:element name="dncOverrideOptIn" type="xs:boolean"/>
	<xs:element name="thirdPartyOffersOptIn" type="xs:boolean"/>
	<xs:element name="emailAddress" type="xs:string"/>
	<xs:element name="twitterUserName" type="xs:string"/>
	<xs:element name="comments" type="xs:string"/>
	<xs:element name="wirelessDomainOptIn" type="xs:boolean"/>
	<xs:element name="bestTimetoCall" type="xs:string"/>
	<xs:element name="mlifeOptOut" type="xs:boolean"/>
	<xs:element name="mpeInformation" type="mpeInfo"/>
	<xs:element name="playersClubEnrollmentSource" type="xs:string"/>
	<xs:element name="sourceAttribute" type="xs:string"/>

	<!--SIMPLE ELEMENTS FOR GET CUSTOMER INFO REQUEST/ RESPONSE-->
	<xs:element name="mlifeNumber" type="xs:integer"/>
	<xs:element name="basicInfoOnly" type="xs:boolean"/>
	<xs:element name="hasCredit" type="xs:boolean"/>
	<xs:element name="playerTier" type="xs:string"/>
	<xs:element name="addressTypeId" type="xs:string"/>
	<xs:element name="addressType" type="xs:string"/>
	<xs:element name="line1" type="xs:string"/>
	<xs:element name="line2" type="xs:string"/>
	<xs:element name="zipCode" type="xs:string"/>
	<xs:element name="zipPlus" type="xs:string"/>
	<xs:element name="countryId" type="xs:string"/>
	<xs:element name="counteyAbrv2" type="xs:string"/>
	<xs:element name="countryAbrv3" type="xs:string"/>
	<xs:element name="emailTypeId" type="xs:string"/>
	<xs:element name="emailType" type="xs:string"/>
	<xs:element name="phoneTypeId" type="xs:string"/>
	<xs:element name="phoneType" type="xs:string"/>
	<xs:element name="siteGroup" type="siteGroup"/>
	<xs:element name="channel" type="channel"/>
	<xs:element name="segment" type="segment"/>
	<xs:element name="site" type="site"/>
	<xs:element name="sourceSiteId" type="xs:int"/>

	<!--SIMPLE ELEMENTS FOR GET PLAYER BALANCES/ GET PLAYER PROMOTIONS  REQUEST/ RESPONSE-->
	<xs:element name="rewardBalance" type="xs:int"/>
	<xs:element name="compBalance" type="xs:decimal"/>
	<xs:element name="secondCompBalance" type="xs:decimal"/>
	<xs:element name="giftPoints" type="xs:decimal"/>
	<xs:element name="xtraCreditBalanceLocal" type="xs:decimal"/>
	<xs:element name="xtraCreditBalanceGlobal" type="xs:decimal"/>
	<xs:element name="compBalanceLinked" type="xs:decimal"/>
	<xs:element name="secondCompBalanceLinked" type="xs:decimal"/>
	<xs:element name="giftPointsLinked" type="xs:decimal"/>
	<xs:element name="pointBalanceLinked" type="xs:long"/>
	<xs:element name="promoId" type="xs:int"/>
	<xs:element name="count" type="xs:int"/>
	<xs:element name="startDate" type="xs:dateTime"/>
	<xs:element name="endDate" type="xs:dateTime"/>
	<xs:element name="siteInfo" type="siteType"/>
	<xs:element name="orderBy" type="xs:string"/>
	<xs:element name="hgsPoints" type="xs:decimal"/>
	<xs:element name="promoName" type="xs:string"/>
	<xs:element name="publicDescription" type="xs:string"/>
	<xs:element name="playerTierName" type="xs:string"/>
	<xs:element name="checkInDate" type="xs:string"/>
	<xs:element name="checkOutDate" type="xs:string"/>
	<xs:element name="programId" type="xs:int"/>
	<xs:element name="programName" type="xs:string"/>
	<xs:element name="expired" type="xs:int"/>
	<xs:element name="points" type="xs:decimal"/>
	<xs:element name="tierCredit" type="xs:string"/>
	<xs:element name="achievedDate" type="xs:dateTime"/>
	<xs:element name="creditToNextTier" type="xs:string"/>
	<xs:element name="nextTier" type="xs:string"/>
	<xs:element name="previousTier" type="xs:string"/>
	<xs:element name="expireDate" type="xs:dateTime"/>
	<xs:element name="earnedDate" type="xs:dateTime"/>

	<!--SIMPLE ELEMENTS FOR GET TAX INFORMATION REQUEST/RESPONSE -->
	<xs:element name="year" type="xs:int"/>
	<xs:element name="quarter" type="xs:int"/>
	<xs:element name="totalCoinIn" type="xs:decimal"/>
	<xs:element name="totalCoinOut" type="xs:decimal"/>
	<xs:element name="totalJackPot" type="xs:decimal"/>
	<xs:element name="totalWin" type="xs:decimal"/>
	<xs:element name="totalslotWin" type="xs:decimal"/>
	<xs:element name="totaltableWin" type="xs:decimal"/>
	<xs:element name="siteTotals" type="playerTaxBySite"/>
	<xs:element name="slotWin" type="xs:decimal"/>
	<xs:element name="tableWin" type="xs:decimal"/>
	<xs:element name="coinIn" type="xs:decimal"/>
	<xs:element name="coinOut" type="xs:decimal"/>
	<xs:element name="jackpot" type="xs:decimal"/>

	<!--SIMPLE ELEMENTS FOR REQUEST HEADER AND ERROR RESPONSE-->
	<xs:element name="header" type="headerType"/>
	<xs:element name="source" type="xs:string"/>
	<xs:element name="transactionId" type="xs:string"/>
	<xs:element name="origin" type="xs:string"/>
	<xs:element name="correlationId" type="xs:string"/>
	<xs:element name="result" type="resultType"/>
	<xs:element name="statusDescription" type="xs:string"/>

	<!--   COMMON REFERENCE ELEMENTS -->
	<xs:complexType name="resultType">
		<xs:sequence>
			<xs:element ref="status"/>
			<xs:element ref="statusDescription" minOccurs="0"/>
			<xs:element name="errors" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="error" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="type"/>
									<xs:element ref="code"/>
									<xs:element ref="description"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="headerType">
		<xs:all>
			<xs:element ref="source"/>
			<xs:element ref="transactionId"/>
			<xs:element ref="origin" minOccurs="0"/>
			<xs:element ref="correlationId" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="userInfo">
		<xs:sequence>
			<xs:element ref="userId" minOccurs="0"/>
			<xs:element ref="loginName" minOccurs="0"/>
			<xs:element ref="firstName" minOccurs="0"/>
			<xs:element ref="lastName" minOccurs="0"/>
			<xs:element ref="license" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="siteType">
		<xs:sequence>
			<xs:element ref="siteId" minOccurs="0"/>
			<xs:element ref="siteDescription" minOccurs="0"/>
			<xs:element ref="id" minOccurs="0"/>
			<xs:element ref="totalTheoWin" minOccurs="0"/>
			<xs:element ref="roomNights" minOccurs="0"/>
			<xs:element ref="lastStayDate" minOccurs="0"/>
			<xs:element ref="sitemasterId" minOccurs="0"/>
			<xs:element ref="siteName" minOccurs="0"/>
			<xs:element ref="siteIdPm" minOccurs="0"/>
			<xs:element ref="configHotelSystemId" minOccurs="0"/>
			<xs:element ref="corpSortOrder" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="resultSets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="resultSet1" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="resultSet1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="record1" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="record1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id" minOccurs="0"/>
				<xs:element ref="siteId" minOccurs="0"/>
				<xs:element ref="totalTheoWin" minOccurs="0"/>
				<xs:element ref="roomNights" minOccurs="0"/>
				<xs:element ref="lastStayDate" minOccurs="0"/>
				<xs:element ref="sitemasterId" minOccurs="0"/>
				<xs:element ref="siteName" minOccurs="0"/>
				<xs:element ref="siteIdPm" minOccurs="0"/>
				<xs:element ref="configHotelSystemId" minOccurs="0"/>
				<xs:element ref="corpSortOrder" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="cardNumbers">
		<xs:sequence>
			<xs:element name="cardNumber" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="cardId" minOccurs="0"/>
						<xs:element ref="status" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="name">
		<xs:sequence>
			<xs:element ref="title" minOccurs="0"/>
			<xs:element ref="firstName"/>
			<xs:element ref="preferredName" minOccurs="0"/>
			<xs:element ref="middleName" minOccurs="0"/>
			<xs:element ref="lastName"/>
			<xs:element ref="suffix" minOccurs="0"/>
			<xs:element ref="generation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="promoStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="statusNumber"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="type" minOccurs="0"/>
				<xs:element ref="send" minOccurs="0"/>
				<xs:element ref="status" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- COMMON REFERENCE ELEMENTS FOR ADD /UPDATE/ GET PLAYER PROFILE REQUEST-->
	<xs:complexType name="playerProfile">
		<xs:sequence>
			<xs:element ref="tier" minOccurs="0"/>
			<xs:element ref="dateOfBirth" minOccurs="0"/>
			<xs:element ref="anniversary" minOccurs="0"/>
			<xs:element ref="creditAccount" minOccurs="0"/>
			<xs:element ref="gender" minOccurs="0"/>
			<xs:element ref="webEnabled" minOccurs="0"/>
			<xs:element ref="exempt" minOccurs="0"/>
			<xs:element ref="attraction" minOccurs="0"/>
			<xs:element ref="affiliation" minOccurs="0"/>
			<xs:element ref="crossReference" minOccurs="0"/>
			<xs:element ref="enrollmentLocation" minOccurs="0"/>
			<xs:element ref="dateEnrolled" minOccurs="0"/>
			<xs:element ref="language" minOccurs="0"/>
			<xs:element ref="name" minOccurs="0"/>
			<xs:element name="address" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="address1"/>
						<xs:element ref="address2" minOccurs="0"/>
						<xs:element ref="city" minOccurs="0"/>
						<xs:element ref="stateProvince" minOccurs="0"/>
						<xs:element ref="postalCode" minOccurs="0"/>
						<xs:element ref="country" minOccurs="0"/>
						<xs:element ref="location"/>
						<xs:element ref="deliverable" minOccurs="0"/>
						<xs:element ref="preferred" minOccurs="0"/>
						<xs:element ref="suburb" minOccurs="0"/>
						<xs:element ref="creditAddress" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="phoneNumber" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="number"/>
						<xs:element ref="extension" minOccurs="0"/>
						<xs:element ref="location"/>
						<xs:element ref="preferred" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="identification" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="type"/>
						<xs:element ref="idNumber"/>
						<xs:element ref="expirationDate" minOccurs="0"/>
						<xs:element ref="verificationDate" minOccurs="0"/>
						<xs:element ref="stateProvince" minOccurs="0"/>
						<xs:element ref="country" minOccurs="0"/>
						<xs:element ref="primary" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="email" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="address"/>
						<xs:element ref="location"/>
						<xs:element ref="preferred" minOccurs="0"/>
						<xs:element ref="addDate" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="enrolledBy" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="user"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="playerStatus" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="status" minOccurs="0"/>
						<xs:element ref="description" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="cardNumbers" minOccurs="0"/>
			<xs:element name="playerRestrictions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="restriction" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="description" minOccurs="0"/>
									<xs:element ref="expiration" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="interests" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="interest" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="code" minOccurs="0"/>
									<xs:element ref="description"/>
									<xs:element ref="modifyInterest" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="employment" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="company" minOccurs="0"/>
						<xs:element ref="position" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="frequentFlyers" minOccurs="0">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="frequentFlyer">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="description"/>
									<xs:element ref="value" minOccurs="0"/>
									<xs:element ref="preferred" minOccurs="0"/>
									<xs:element ref="modifyFrequentFlyer" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="siteParameters" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="siteInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="siteId"/>
									<xs:element ref="pointBalance" minOccurs="0"/>
									<xs:element name="playerRanking" nillable="true" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ranking"/>
												<xs:element ref="description"/>
												<xs:element ref="rankingExpireDate"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="host" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="userId"/>
												<xs:element ref="loginName" minOccurs="0"/>
												<xs:element ref="firstName" minOccurs="0"/>
												<xs:element ref="lastName" minOccurs="0"/>
												<xs:element ref="license" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="partnerInterests" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="interests" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="interestNumber" minOccurs="0"/>
									<xs:element ref="interestDescription" minOccurs="0"/>
									<xs:element ref="siteId" minOccurs="0"/>
									<xs:element ref="userId" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="caslOptIn" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!--ADD PLAYER PROFILE REQUEST-->
	<xs:element name="addPlayerProfileRequest">
		<xs:complexType>
			<xs:sequence>

				<!--                        <xs:element ref="header"/>     -->
				<xs:element ref="playerProfile"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--ADD PLAYER PROFILE RESPONSE-->
	<xs:element name="addPlayerProfileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="playerId"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--GET PLAYER PROFILE REQUEST-->
	<xs:element name="getPlayerProfileRequest">
		<xs:complexType>
			<xs:sequence>

				<!--                        <xs:element ref="header"/>     -->
				<xs:element ref="playerId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- stop codes request -->
	<xs:element name="getStopCodesRequest">
		<xs:complexType>
			<xs:sequence>

				<!--                        <xs:element ref="header"/>     -->
				<xs:element ref="playerId"/>
				<xs:element ref="siteId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- stop codes response-->
	<xs:element name="getStopCodesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="stopCodesInfo" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="stopCodeId"/>
										<xs:element ref="priority"/>
										<xs:element ref="description" minOccurs="0"/>
										<xs:element ref="isActive" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stopCodeId" type="xs:string"/>
	<xs:element name="priority" type="xs:integer"/>
	<xs:element name="isActive" type="xs:boolean"/>

	<!--GET PLAYER PROFILE RESPONSE-->
	<xs:element name="getPlayerProfileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="playerProfile"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--UPDATE PLAYER PROFILE REQUEST-->
	<xs:element name="updatePlayerProfileRequest">
		<xs:complexType>
			<xs:sequence>

				<!--                        <xs:element ref="header"/>     -->
				<xs:element ref="playerId"/>
				<xs:element ref="playerProfile"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--UPDATE PLAYER PROFILE RESPONSE-->
	<xs:element name="updatePlayerProfileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="playerId" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--SEARCH PLAYER REQUEST-->
	<xs:element name="searchPlayerRequest">
		<xs:complexType>
			<xs:sequence>

				<!--                        <xs:element ref="header"/>     -->
				<xs:element name="searchPlayerRequestFilter">
					<xs:complexType>
						<xs:choice>
							<xs:element ref="playerId" minOccurs="0"/>
							<xs:element ref="cardId" minOccurs="0"/>
							<xs:element ref="firstName" minOccurs="0"/>
							<xs:element ref="lastName" minOccurs="0"/>
							<xs:element ref="ssn" minOccurs="0"/>
							<xs:element ref="license" minOccurs="0"/>
							<xs:element ref="dateOfBirth" minOccurs="0"/>
							<xs:element ref="phoneNumber" minOccurs="0"/>
							<xs:element ref="postalCode" minOccurs="0"/>
							<xs:element ref="status" minOccurs="0"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- SEARCH PLAYER RESPONSE-->
	<xs:element name="searchPlayerResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="playerFound" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="playerId"/>
										<xs:element ref="cardId" minOccurs="0"/>
										<xs:element ref="lastName" minOccurs="0"/>
										<xs:element ref="firstName" minOccurs="0"/>
										<xs:element ref="middleName" minOccurs="0"/>
										<xs:element ref="preferredName" minOccurs="0"/>
										<xs:element ref="dateOfBirth" minOccurs="0"/>
										<xs:element ref="city" minOccurs="0"/>
										<xs:element ref="state" minOccurs="0"/>
										<xs:element ref="country" minOccurs="0"/>
										<xs:element ref="creditAcct" minOccurs="0"/>
										<xs:element ref="ranking" minOccurs="0"/>
										<xs:element ref="status" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- GET CUSTOMER PREFERENCES  RESPONSE-->
	<xs:complexType name="channel">
		<xs:sequence>
			<xs:element ref="mpechannelId" minOccurs="0"/>
			<xs:element ref="chnName" minOccurs="0"/>
			<xs:element ref="selected" minOccurs="0"/>
			<xs:element ref="allowEdit" minOccurs="0"/>
			<xs:element ref="isExplicit" minOccurs="0"/>
			<xs:element ref="isAdmin" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="segment">
		<xs:sequence>
			<xs:element ref="mpeSegmentId" minOccurs="0"/>
			<xs:element ref="segName" minOccurs="0"/>
			<xs:element ref="allowEdit" minOccurs="0"/>
			<xs:element ref="channel" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="site">
		<xs:sequence>
			<xs:element ref="mpeSiteId" minOccurs="0"/>
			<xs:element ref="siteName" minOccurs="0"/>
			<xs:element ref="allowEdit" minOccurs="0"/>
			<xs:element ref="selected" minOccurs="0"/>
			<xs:element ref="segment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="siteGroup">
		<xs:sequence>
			<xs:element ref="mpeSiteGroupId"/>
			<xs:element ref="id" minOccurs="0"/>
			<xs:element ref="chnName" minOccurs="0"/>
			<xs:element ref="allowEdit" minOccurs="0"/>
			<xs:element ref="site" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<!-- UPDATE CUSTOMER PREFERENCES  REQUEST-->
	<xs:element name="updateCustomerPreferencesRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="customerPreferences"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--UPDATE CUSTOMER PREFERENCES  RESPONSE-->
	<!--<xs:complexType name="mpeCustomerStatus">
                    <xs:sequence>
                                    <xs:element ref="id"/>
                    </xs:sequence>
    </xs:complexType> -->
	<xs:complexType name="mpeInfo">
		<xs:sequence>
			<xs:element ref="privacyFlag" minOccurs="0"/>
			<xs:element ref="globalOptOut" minOccurs="0"/>
			<xs:element ref="corporateOptOut" minOccurs="0"/>
			<xs:element ref="dncOverrideOptIn"/>
			<xs:element ref="thirdPartyOffersOptIn"/>
			<xs:element ref="comments" minOccurs="0"/>
			<xs:element ref="emailAddress" minOccurs="0"/>
			<xs:element ref="wirelessDomainOptIn" minOccurs="0"/>
			<xs:element ref="bestTimetoCall" minOccurs="0"/>
			<xs:element ref="mlifeOptOut" minOccurs="0"/>
			<xs:element ref="twitterUserName" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getCustomerPreferencesRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="playerId"/>
				<xs:element ref="mpeSiteId" minOccurs="0"/>
				<xs:element ref="mpeSegmentId" minOccurs="0"/>
				<xs:element ref="propertyId"/>
				<xs:element ref="sourceId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getCustomerPreferencesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element ref="customerPreferences" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--GET CUSTOMER INFO  REQUEST-->
	<xs:element name="getCustomerInfoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="customerSearchFilter">
					<xs:complexType>
						<xs:all>
							<xs:element ref="firstName" minOccurs="0"/>
							<xs:element ref="lastName" minOccurs="0"/>
							<xs:element name="partialLastName" type="xs:string" minOccurs="0"/>
							<xs:element ref="emailAddress" minOccurs="0"/>
							<xs:element ref="dateOfBirth" minOccurs="0"/>
							<xs:element ref="phoneNumber" minOccurs="0"/>
							<xs:element ref="address1" minOccurs="0"/>
							<xs:element ref="address2" minOccurs="0"/>
							<xs:element ref="city" minOccurs="0"/>
							<xs:element ref="state" minOccurs="0"/>
							<xs:element ref="country" minOccurs="0"/>
							<xs:element ref="postalCode" minOccurs="0"/>
							<xs:element ref="mlifeNumber" minOccurs="0"/>
							<xs:element ref="basicInfoOnly" minOccurs="0"/>
							<xs:element ref="hgpNumber" minOccurs="0"/>
							<xs:element name="requestOrigin" type="xs:string" minOccurs="0"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--GET CUSTOMER INFO  RESPONSE-->
	<xs:complexType name="customerType">
		<xs:sequence>
			<xs:element ref="title" minOccurs="0"/>
			<xs:element ref="firstName" minOccurs="0"/>
			<xs:element ref="lastName" minOccurs="0"/>
			<xs:element ref="dateOfBirth" minOccurs="0"/>
			<xs:element ref="hasCredit" minOccurs="0"/>
			<xs:element ref="playerTier" minOccurs="0"/>
			<xs:element ref="mlifeNumber" minOccurs="0"/>
			<xs:element name="address" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="addressTypeId" minOccurs="0"/>
						<xs:element ref="addressType" minOccurs="0"/>
						<xs:element ref="line1" minOccurs="0"/>
						<xs:element ref="line2" minOccurs="0"/>
						<xs:element ref="zipCode" minOccurs="0"/>
						<xs:element ref="zipPlus" minOccurs="0"/>
						<xs:element ref="city" minOccurs="0"/>
						<xs:element ref="state" minOccurs="0"/>
						<xs:element ref="countryId" minOccurs="0"/>
						<xs:element ref="country" minOccurs="0"/>
						<xs:element ref="counteyAbrv2" minOccurs="0"/>
						<xs:element ref="countryAbrv3" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="email" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="emailTypeId" minOccurs="0"/>
						<xs:element ref="emailType" minOccurs="0"/>
						<xs:element ref="emailAddress" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="phone" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="phoneTypeId" minOccurs="0"/>
						<xs:element ref="phoneType" minOccurs="0"/>
						<xs:element ref="phoneNumber" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="customer" type="customerType"/>
	<xs:element name="getCustomerInfoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="customer" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- GET PLAYER BALANCES REQUEST-->
	<xs:element name="getPlayerBalancesRequest">
		<xs:complexType>
			<xs:sequence>

				<!--                        <xs:element ref="header"/>     -->
				<xs:element ref="playerId"/>
				<xs:element ref="siteId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- GET PLAYER BALANCES RESPONSE-->
	<xs:element name="getPlayerBalancesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="playerTierName"/>
							<xs:element name="tier" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="tierCredit" minOccurs="0"/>
										<xs:element ref="achievedDate" minOccurs="0"/>
										<xs:element ref="creditToNextTier" minOccurs="0"/>
										<xs:element ref="nextTier" minOccurs="0"/>
										<xs:element ref="previousTier" minOccurs="0"/>
										<xs:element ref="expireDate" minOccurs="0"/>
										<xs:element ref="earnedDate" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="playerBalances">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="rewardBalance" minOccurs="0"/>
										<xs:element ref="compBalance" minOccurs="0"/>
										<xs:element ref="secondCompBalance" minOccurs="0"/>
										<xs:element ref="giftPoints" minOccurs="0"/>
										<xs:element ref="xtraCreditBalanceLocal" minOccurs="0"/>
										<xs:element ref="xtraCreditBalanceGlobal" minOccurs="0"/>
										<xs:element ref="pointBalance" minOccurs="0"/>
										<xs:element ref="compBalanceLinked" minOccurs="0"/>
										<xs:element ref="secondCompBalanceLinked" minOccurs="0"/>
										<xs:element ref="giftPointsLinked" minOccurs="0"/>
										<xs:element ref="pointBalanceLinked" minOccurs="0"/>
										<xs:element name="giftPointBalancesInfo">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="hgsPoints" minOccurs="0"/>
													<xs:element name="giftPointBalances" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="programId" minOccurs="0"/>
																<xs:element ref="programName" minOccurs="0"/>
																<xs:element ref="status" minOccurs="0"/>
																<xs:element ref="expired" minOccurs="0"/>
																<xs:element ref="points" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:sequence>
											<xs:element ref="promoId" minOccurs="0"/>
											<xs:element ref="count" minOccurs="0"/>
											<xs:element ref="startDate" minOccurs="0"/>
											<xs:element ref="endDate" minOccurs="0"/>
											<xs:element ref="status" minOccurs="0"/>
											<xs:element ref="orderBy" minOccurs="0"/>
											<xs:element name="sites" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element ref="siteInfo" maxOccurs="unbounded"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:element name="xtraCreditBalancesLocal" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="siteId" minOccurs="0"/>
													<xs:element ref="xtraCreditBalanceLocal" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- GET PLAYER PROMO STATUS  REQUEST-->
	<xs:element name="getPlayerPromoStatusRequest">
		<xs:complexType>
			<xs:sequence>

				<!--                        <xs:element ref="header"/>     -->
				<xs:element ref="playerId"/>
				<xs:element name="playerPromoFilter" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="promoId" minOccurs="0"/>
							<xs:element ref="count" minOccurs="0"/>
							<xs:element ref="startDate" minOccurs="0"/>
							<xs:element ref="endDate" minOccurs="0"/>
							<xs:element ref="status" minOccurs="0"/>
							<xs:element ref="orderBy" minOccurs="0"/>
							<xs:element name="sites" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="siteInfo" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- GET PLAYER PROMO STATUS  RESPONSE-->
	<xs:element name="getPlayerPromoStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="playerPromos" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="promoId"/>
										<xs:element ref="promoName"/>
										<xs:element ref="publicDescription"/>
										<xs:element ref="startDate"/>
										<xs:element ref="endDate"/>
										<xs:element ref="status"/>
										<xs:element ref="siteInfo" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- GET TAX INFORMATION  REQUEST-->
	<xs:element name="getTaxInformationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="playerId"/>
				<xs:element ref="year"/>
				<xs:element ref="quarter" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- GET TAX INFORMATION  RESPONSE-->
	<xs:complexType name="playerTaxBySite">
		<xs:sequence>
			<xs:element ref="siteId" minOccurs="0"/>
			<xs:element ref="slotWin" minOccurs="0"/>
			<xs:element ref="tableWin" minOccurs="0"/>
			<xs:element ref="totalWin" minOccurs="0"/>
			<xs:element ref="coinIn" minOccurs="0"/>
			<xs:element ref="coinOut" minOccurs="0"/>
			<xs:element ref="jackpot" minOccurs="0"/>
			<xs:element ref="monthlyInfo" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getTaxInformationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="playerTax" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="playerId" minOccurs="0"/>
										<xs:element ref="title" minOccurs="0"/>
										<xs:element ref="lastName" minOccurs="0"/>
										<xs:element ref="firstName" minOccurs="0"/>
										<xs:element ref="line1" minOccurs="0"/>
										<xs:element ref="line2" minOccurs="0"/>
										<xs:element ref="city" minOccurs="0"/>
										<xs:element ref="state" minOccurs="0"/>
										<xs:element ref="zipCode" minOccurs="0"/>
										<xs:element ref="country" minOccurs="0"/>
										<xs:element ref="totalCoinIn" minOccurs="0"/>
										<xs:element ref="totalCoinOut" minOccurs="0"/>
										<xs:element ref="totalJackPot" minOccurs="0"/>
										<xs:element ref="totalWin" minOccurs="0"/>
										<xs:element ref="totalslotWin" minOccurs="0"/>
										<xs:element ref="totaltableWin" minOccurs="0"/>
										<xs:element ref="siteTotals" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--UPDATE PLAYER PROMO STATUS REQUEST-->
	<xs:element name="updatePlayerPromoStatusRequest">
		<xs:complexType>
			<xs:all>
				<xs:element ref="playerId"/>
				<xs:element ref="confirmation" minOccurs="0"/>
				<xs:element ref="promoId" minOccurs="0"/>
				<xs:element ref="siteId"/>
				<xs:element ref="status" minOccurs="0"/>
				<xs:element ref="checkInDate" minOccurs="0"/>
				<xs:element ref="checkOutDate" minOccurs="0"/>
				<xs:element ref="promoName" minOccurs="0"/>
				<xs:element ref="oldPromoStatus" minOccurs="0"/>
				<xs:element ref="newPromoStatus" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<!--UPDATE PLAYER PROMO STATUS RESPONSE-->
	<xs:element name="updatePlayerPromoStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPlayerDominantStatisticsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="playerId"/>
				<xs:element ref="siteId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPlayerDominantStatisticsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result" minOccurs="0"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="sites">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="siteInfo" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addHGSGiftPointsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="playerId" minOccurs="0"/>
				<xs:element ref="additionalPoints" minOccurs="0"/>
				<xs:element ref="reason" minOccurs="0"/>
				<xs:element ref="siteId" minOccurs="0"/>
				<xs:element ref="userId" minOccurs="0"/>
				<xs:element ref="giftProgramId" minOccurs="0"/>
				<xs:element ref="giftProgramMultiplierId" minOccurs="0"/>
				<xs:element ref="linkedAdjustment" minOccurs="0"/>
				<xs:element ref="secondUserId" minOccurs="0"/>
				<xs:element ref="transId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addHGSGiftPointsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="additionalPoints" type="xs:double"/>
	<xs:element name="reason" type="xs:string"/>
	<xs:element name="linkedAdjustment" type="xs:boolean"/>
	<xs:element name="giftProgramId" type="xs:int"/>
	<xs:element name="giftProgramMultiplierId" type="xs:int"/>
	<xs:element name="secondUserId" type="xs:int"/>
	<xs:element name="transId" type="xs:int"/>
	<xs:element name="giftId" type="xs:integer"/>
	<xs:element name="hgsGiftRedemptionRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="playerId" minOccurs="0"/>
				<xs:element ref="giftDetails" minOccurs="0"/>
				<xs:element ref="shippingDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="giftDetails" type="hgsGiftType"/>
	<xs:element name="shippingDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="addresTypeId" minOccurs="0"/>
				<xs:element ref="shippingName" minOccurs="0"/>
				<xs:element ref="address1" minOccurs="0"/>
				<xs:element ref="address2" minOccurs="0"/>
				<xs:element ref="city" minOccurs="0"/>
				<xs:element ref="stateProvince" minOccurs="0"/>
				<xs:element ref="postalCode" minOccurs="0"/>
				<xs:element ref="country" minOccurs="0"/>
				<xs:element ref="phoneNumber" minOccurs="0"/>
				<xs:element ref="emailAddress" minOccurs="0"/>
				<xs:element ref="comments" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="giftQuantity" type="xs:integer"/>
	<xs:element name="giftMultiplierId" type="xs:integer"/>
	<xs:complexType name="hgsGiftType">
		<xs:sequence>
			<xs:element ref="siteId" minOccurs="0"/>
			<xs:element ref="userId" minOccurs="0"/>
			<xs:element ref="giftProgramId" minOccurs="0"/>
			<xs:element ref="giftId" minOccurs="0"/>
			<xs:element ref="giftQuantity" minOccurs="0"/>
			<xs:element ref="giftMultiplierId" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="addresTypeId" type="xs:integer"/>
	<xs:element name="hgsGiftRedemptionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shippingName" type="xs:string"/>
	<xs:element name="updateCustomerPreferencesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="playerId"/>
							<xs:element ref="mpeCustomerId" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="customerPreferences">
		<xs:sequence>
			<xs:element ref="playerId"/>
			<xs:element ref="eventId" minOccurs="0"/>
			<xs:element ref="sourceId" minOccurs="0"/>
			<xs:element ref="sourceSiteId" minOccurs="0"/>
			<xs:element ref="matchlevelId" minOccurs="0"/>
			<xs:element ref="sourceUpdatedById" minOccurs="0"/>
			<xs:element ref="mpeupdateReasonId" minOccurs="0"/>
			<xs:element ref="site" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="mpeInformation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="eventId" type="xs:int"/>
	<xs:element name="sourceId" type="xs:int"/>
	<xs:element name="matchlevelId" type="xs:int"/>
	<xs:element name="sourceUpdatedById" type="xs:int"/>
	<xs:element name="mpeupdateReasonId" type="xs:int"/>
	<xs:element name="customerPreferences" type="customerPreferences"/>
	<xs:element name="mpeSiteGroupId" type="xs:int"/>
	<xs:element name="mpechannelId" type="xs:int"/>
	<xs:element name="segName" type="xs:string"/>
	<xs:element name="mpeSiteId" type="xs:int"/>
	<xs:element name="mpeSegmentId" type="xs:int"/>
	<xs:element name="sites">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="site" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="propertyId" type="xs:string"/>

	<!-- ISSUE COMP REQUEST -->
	<xs:element name="issueCompRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pointAdjustment" minOccurs="0"/>
				<xs:element name="compDetails" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="playerId" minOccurs="0"/>
							<xs:element ref="siteId" minOccurs="0"/>
							<xs:element name="dailyDetails" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="dailyDetail" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="compId" type="xs:int" minOccurs="0"/>
													<xs:element ref="points" minOccurs="0"/>
													<xs:element name="plannedDate" type="xs:date" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pointAdjustment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="points" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- ISSUE COMP RESPONSE -->
	<xs:element name="issueCompResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="compDetail" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="compId" type="xs:int" minOccurs="0"/>
										<xs:element ref="points" minOccurs="0"/>
										<xs:element name="plannedDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element ref="status" minOccurs="0"/>
										<xs:element name="statusMessage" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- VOID COMP REQUEST -->
	<xs:element name="voidCompRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pointAdjustment" minOccurs="0"/>
				<xs:element name="compDetails" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="playerId" minOccurs="0"/>
							<xs:element ref="siteId" minOccurs="0"/>
							<xs:element name="forfeitPoints" type="xs:decimal" minOccurs="0"/>
							<xs:element name="voidCompDetails" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="voidCompDetail" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="compId" type="xs:int" minOccurs="0"/>
													<xs:element name="plannedDate" type="xs:date" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- VOID COMP RESPONSE -->
	<xs:element name="voidCompResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="compDetail" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="compId" type="xs:int" minOccurs="0"/>
										<xs:element name="plannedDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element ref="status" minOccurs="0"/>
										<xs:element name="statusMessage" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- GET PLAYER RESTRICTION REQUEST-->
	<xs:element name="getPlayerRestrictionRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="playerId"/>
				<xs:element ref="siteId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- GET PLAYER RESTRICTION RESPONSE -->
	<xs:element name="getPlayerRestrictionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="isRestricted" type="xs:boolean"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="monthlyInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="month" minOccurs="0"/>
				<xs:element ref="slotWin" minOccurs="0"/>
				<xs:element ref="tableWin" minOccurs="0"/>
				<xs:element ref="totalWin" minOccurs="0"/>
				<xs:element ref="coinIn" minOccurs="0"/>
				<xs:element ref="coinOut" minOccurs="0"/>
				<xs:element ref="jackpot" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="month" type="xs:string"/>
	<xs:element name="oldPromoStatus" type="xs:string"/>
	<xs:element name="newPromoStatus" type="xs:string"/>
	<xs:element name="getPlayerCardResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="cardNumbers"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPlayerCardRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="playerId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPlayerCommentsRequest">
		<xs:complexType>
			<xs:all>
				<xs:element ref="playerId"/>
				<xs:element ref="isHighPriority" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="isHighPriority" type="xs:boolean"/>
	<xs:element name="getHighPriorityCommentsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="comment" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="siteId" minOccurs="0"/>
										<xs:element ref="number" minOccurs="0"/>
										<xs:element name="text" type="xs:string" minOccurs="0"/>
										<xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="expiryDate" type="xs:dateTime" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPlayerCommentsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="comment" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="siteId" minOccurs="0"/>
										<xs:element ref="number" minOccurs="0"/>
										<xs:element name="text" type="xs:string" minOccurs="0"/>
										<xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="expiryDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="isPrivate" type="xs:boolean" minOccurs="0"/>
										<xs:element ref="isHighPriority" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="eventBlocksRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="eventId" minOccurs="0"/>
				<xs:element ref="promoId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="promoEventBlocks">
		<xs:complexType>
			<xs:all>
				<xs:element ref="eventId"/>
				<xs:element ref="blockId"/>
				<xs:element ref="description"/>
				<xs:element ref="tickets"/>
				<xs:element ref="maxPerPlayer"/>
				<xs:element ref="defaultAmount"/>
				<xs:element ref="status"/>
				<xs:element ref="siteId"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="blockId" type="xs:int"/>
	<xs:element name="tickets" type="xs:int"/>
	<xs:element name="maxPerPlayer" type="xs:int"/>
	<xs:element name="defaultAmount" type="xs:int"/>
	<xs:element name="eventBlocksResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="promoEventBlocks" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="eventsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="promoId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="eventsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="promoEvents" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="promoEvents">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="eventId"/>
				<xs:element ref="description"/>
				<xs:element ref="date"/>
				<xs:element ref="status"/>
				<xs:element ref="siteId"/>
				<xs:element ref="PromoId"/>
				<xs:element ref="numberOfBlocks"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="date" type="xs:dateTime"/>
	<xs:element name="PromoId" type="xs:int"/>
	<xs:element name="numberOfBlocks" type="xs:int"/>
	<xs:element name="issuePromoEventTicketResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="issuePromoEventTicketRequest">
		<xs:complexType>
			<xs:all>
				<xs:element ref="playerId"/>
				<xs:element ref="promoId"/>
				<xs:element ref="blockId"/>
				<xs:element ref="ticketCount"/>
				<xs:element ref="pickedUp"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ticketCount" type="xs:int"/>
	<xs:element name="pickedUp" type="xs:string"/>
	<xs:element name="getPlayerLinkedInfoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="playerId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPlayerLinkedInfoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
				<xs:element name="response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LinkedPlayer" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="playerId"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>